<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* 外边距
            -外边距不会影响盒子可见框的大小
            -外边距会影响盒子的位置
            -一共有四个方面的外边距
                - margin-top
                - margin-buttom
                - margin-left
                - margin-right */
        .box1{
            width: 200px;
            height: 200px;
            background-color: red;
            border: 10px yellowgreen solid;
        }
    </style>
</head>
<body>
    <div class="box1"></div>
</body>
</html>